.profile {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name {
    text-align: center;
}

.profile-image {
    width: 5px;
    float: left;
}

.title-name {
    margin-top: 10px;
    margin-left: 11%;
    float: left;
}
.content-title {
    font-size: 10px;
    clear: both;
}

.content {
    width: 50%;
    float: left;
}

.ground-image{
    display: inline-block;
}
