div {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.profile {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name {
    text-align: center;
}

.blog-content {
    width: 80%;
    height: 200px;
    float: left;
}

.blog-img{
    width: 20%;
    height: 200px;
    float: left;
}

.blog-profile {
    width: 50px;
    display: block;
    float: left;
}

.blog-name {
    float: left;
}

.container {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar li{
    display: inline-block;
    width: 60px;
    text-align: center;
    background: #eee;
    padding: 10px;
    border-radius: 5px;
}

.navbar a{
    font-size: 16px;
    text-decoration: none;
}


.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
    text-align: center;
}

.main-title {
    color: white;
    font-size: 40px;
    margin-top: 100px;
}

.content {
    color: white;
    font-size: 15px;
    display: block;
}

.main-button {
    width: 150px;
    padding: 15px;
    font-size: 20px;
    background: white;
    border: none;
    position: relative;
    top: 50px;
}

.second-background {
   width: 80%;
   max-width: 600px;
   margin: auto;
   padding: 20px;
   text-align: center;
   background-color: #eee;
   position: relative;
   top: 150px;
}
