.profile {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name {
    text-align: center;
}

p {
    text-align: center;
}

.box {
    width: 200px;
    background-color: cadetblue;
    margin: 10px;
    padding: 40px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    box-shadow: 5px 5px black;
}

.container {
    width: 800px;
}

.header {
    width: 100%;
    height: 50px;
    background: aquamarine;
}

.left-menu {
    width: 20%;
    height: 400px;
    background: cornflowerblue;
    float: left;
}

.content {
    width: 80%;
    height: 400px;
    background: coral;
    float: left;
}

.footer {
    width: 100%;
    height: 100px;
    background: gray;
    clear: both;
}
