div {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.profile {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name {
    text-align: center;
}

.blog-content {
    width: 80%;
    height: 200px;
    float: left;
}

.blog-img {
    width: 20%;
    height: 200px;
    float: left;
}

.blog-profile {
    width: 50px;
    display: block;
    float: left;
}

.blog-name {
    float: left;
}

.container {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar li {
    display: inline-block;
    width: 60px;
    text-align: center;
    background: #eee;
    padding: 10px;
    border-radius: 5px;
}

.navbar a {
    font-size: 16px;
    text-decoration: none;
}


.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
    text-align: center;
}

.main-title {
    color: white;
    font-size: 40px;
    margin-top: 100px;
}

.content {
    color: white;
    font-size: 15px;
    display: block;
}

.main-button {
    width: 150px;
    padding: 15px;
    font-size: 20px;
    background: white;
    border: none;
    position: relative;
    top: 50px;
}

.second-background {
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #eee;
    position: relative;
    top: 150px;
}

.contact {
    background: white;
    position: relative;
    padding: 15px;
    margin: auto;
    top: 150px;
    width: 80%;
    max-width: 600px;
    border: black solid 1px;
}

.contact-inside {
    margin-left: 30px;
}

input[type=email],
input[type=text] {
    padding: 10px;
}

.name-index {
    margin-top: 10px;
    display: block;
}

.email-input {
    width: 70%;
}

.main-textarea {
    width: 80%;
    height: 200px;
    display: block;
}

.contact-button {
    padding: 10px;
    width: 150px;
    margin-left: 185px;
    background: rgb(155, 155, 150);
    border: none;
    border-radius: 5px;
    color: white;
}

.last-contact {
    margin-top: 10px;
    display: block;
}

.cart-background {
    width: 100%;
    background-color: #c2d3de;
    padding: 30px;
}

.cart-table {
    width: 100%;
    max-width: 700px;
    margin: auto;
    background: white;
    border-radius: 10px;
}

.cart-table td,
.cart-table th {
    padding: 15px;
    border-bottom: 1px solid #c2d3de;
}

.cart-table :nth-child(2) {
    width: 400px;
}

.btn {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: coral;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: chocolate;
}

.btn:focus {
    background-color: gray;
}

.btn:active {
    background-color: brown;
}

.input-test {
    font-size: 20px;
}

.custom-link {
    text-decoration: none;
}

.custom-link:link {
    color: violet;
}

.custom-link:visited {
    color: black;
}
