@font-face {
    font-family: '나눔스퀘어R';
    src: url(../font/NanumSquareR.woff);
    /*용량줄이기위해서 웹용 폰트 사용 */
}

div {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: '나눔스퀘어R';
}

p,
h4,
h3,
h2,
h1,
span {
    transform: rotate(0.03deg);
    /* 폰트 부드럽게 하려면 회전하면 좋음*/
}

.profile {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name {
    text-align: center;
}

.blog-content {
    width: 80%;
    height: 200px;
    float: left;
}

.blog-img {
    width: 20%;
    height: 200px;
    float: left;
}

.blog-profile {
    width: 50px;
    display: block;
    float: left;
}

.blog-name {
    float: left;
}

.container {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar li {
    display: inline-block;
    width: 60px;
    text-align: center;
    background: #eee;
    padding: 10px;
    border-radius: 5px;
}

.navbar a {
    font-size: 16px;
    text-decoration: none;
}


.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
    text-align: center;
}

.main-title {
    color: white;
    font-size: 40px;
    margin-top: 100px;
}

.content {
    color: white;
    font-size: 15px;
    display: block;
}

.main-button {
    width: 150px;
    padding: 15px;
    font-size: 20px;
    background: white;
    border: none;
    position: relative;
    top: 50px;
}

.second-background {
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #eee;
    position: relative;
    top: 150px;
}

.contact {
    background: white;
    position: relative;
    padding: 15px;
    margin: auto;
    top: 150px;
    width: 80%;
    max-width: 600px;
    border: black solid 1px;
}

.contact-inside {
    margin-left: 30px;
}

input[type=email],
input[type=text] {
    padding: 10px;
}

.name-index {
    margin-top: 10px;
    display: block;
}

.email-input {
    width: 70%;
}

.main-textarea {
    width: 80%;
    height: 200px;
    display: block;
}

.contact-button {
    padding: 10px;
    width: 150px;
    margin-left: 185px;
    background: rgb(155, 155, 150);
    border: none;
    border-radius: 5px;
    color: white;
}

.last-contact {
    margin-top: 10px;
    display: block;
}

.cart-background {
    width: 100%;
    background-color: #c2d3de;
    padding: 30px;
}

.cart-table {
    width: 100%;
    max-width: 700px;
    margin: auto;
    background: white;
    border-radius: 10px;
}

.cart-table td,
.cart-table th {
    padding: 15px;
    border-bottom: 1px solid #c2d3de;
}

.cart-table :nth-child(2) {
    width: 400px;
}

.main-btn {
    padding: 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.bg-red {
    background: red;
}

.bg-blue {
    background: blue;
}

.input-test {
    font-size: 20px;
}

.custom-link {
    text-decoration: none;
}

.custom-link:link {
    color: violet;
}

.custom-link:visited {
    color: black;
}

.nav-container {
    display: flex;
    height: 40px;
    align-items: center;
    padding: 10px;
}

.nav-item {
    margin-right: 10px;

}

.explain-container {
    text-align: center;
}

.explain-container::after {
    content: '';
    display: block;
    clear: both;
    float: none;
}

/* vw : 브라우저 크기에 비례
vh : 브라우저 높이에 비례
rem : 기본 폰트사이즈에 비례 */

.explain-container>div {
    float: left;
    width: 25%;

}

.explain-container i {
    background-color: burlywood;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding-top: 25px;
    box-sizing: border-box;
    color: white;
    margin-top: 20px;
}

.shop-bg {
    background-color: #eee;
    padding: 20px;
}

.shop-container {
    display: flex;
    width: 90%;
    margin: auto;
}

.shop-item {
    width: 33%;
    padding: 10px;
}

.shop-item img {
    width: 100%;
    display: block;
}

.overlay-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.overlay-black {
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    margin-top: 100%;
    transition: all 1s;
}

.overlay-wrap:hover .overlay-black {
    margin-top: 50%;
}

.pseudo::first-letter {
    color: red;
    font-size: 30px;
}

.input-file::file-selector-button {
    background: skyblue;
    border: none;
    padding: 20px;
}

.inpu-file::file-selector-button:hover {
    background: blue;
}

@media screen and (max-width : 992px) {
    .explain-container>div {
        float: left;
        width: 50%;
    }
}

@media screen and (max-width : 768px) {
    .explain-container>div {
        float: none;
        width: 100%;
    }
}
