.main-bg h4 {
    font-size: 16px;
}

.main-bg button {
    color: red;
}


$메인칼라 : #2a4cb2;
$서브칼라 : #eeeeee;
$기본사이즈 : 16px;

.background {
    background-color: $메인칼라;
}

.box {
    background-color: $서브칼라;
}

%div {
    width: 200px;
    height: 200px;
    padding: 20px;
}

.div-green {
    @extend %div;
    color: green;
}

.div-red {
    @extend %div;
    color: red;
}

.div-blue {
    @extend %div;
    color: blue;
}
